server {
    listen       80;
    server_name  {{ virtual_domain }} www.{{ virtual_domain }};
    root /var/www/{{ virtual_domain }};
    
    access_log /var/log/nginx/{{ virtual_domain }}_access_log;
    error_log /var/log/nginx/{{ virtual_domain }}_error_log;
 
}
